div(revealjs="options",ng-controller="slidesCtrl")
  div.slides
    section 
      //- 0,0
      section#intro
        .row
          .col-xs-12
            h2 interactieve voorstellingen
        .row          
          .col-xs-6
            img(src="images/madebymark.png")
            p Mark Marijnissen          
          .col-xs-6
            img(src="images/tin-men.jpg")
            p Tony Roe

            //-p Ga naar <a href="http://demo.madebymark.nl">demo.madebymark.nl</a> om mee te doen!
              hr
              p 1 online
      
    section
      section#madebymark
        img(src="images/madebymark.png")
        p Mark Marijnissen<br/>Made by Mark
      
      section#interactive
        .fragment.swap
          img.disappear.simple(src="images/interactive-stuff-1.png")
          img.appear.simple(src="images/interactive-stuff-2.png")

      section#interactive-tv
        .fragment.swap
          img.disappear.simple(src="images/interactive-tv-1.png")
          img.appear.simple(src="images/interactive-tv-2.png")

      section#interactive-meditation
        .fragment.swap
          img.disappear.simple(src="images/interactive-meditation-1.png")
          img.appear.simple(src="images/interactive-meditation-2.png")

      section#interactive-concert
        .fragment.swap
          img.disappear.simple(src="images/interactive-concert-1.png")
          img.appear.simple(src="images/interactive-concert-2.png")

      section#interactive-song
        .fragment.swap
          img.disappear.simple(src="images/interactive-song-1.png")
          img.appear.simple(src="images/interactive-song-2.png")

    section
      section#tonyroe
        img(src="images/tin-men.jpg")
        p Tony Roe<br/>Tin Men &amp; The Telephone

      section#tinmen1(data-background="images/tin-men2.jpg")

      section#tinmen2(data-background="images/tin-men3.jpg")

    section
      //-1,0
      section#demo
        h2 demonstratie

      section#sounds
        h2 geluiden afspelen

      section#vote
        h2 stemmen
        p [ resultaten ]
      
    //-
      section#demo
        ul
          li.fragment trigger sounds
          li.fragment do wave -- trigger soundwave
          li.fragment change colors
          li.fragment vote
          li.fragment 
            | control me (color) [2 kanten op]
            ul
              li(ng-repeat="theme in themes") 
                a.btn(hm-tap="setTheme(theme)") {{theme}} 
              
    //-2,0
    section
      section#smartphone
        img.simple(src="images/interaction-technology-phone.png")

      section#smartphone-control(data-transition="none")
        img.simple(src="images/interaction-technology-phone-control.png")

      section#smartphone-input(data-transition="none")
        img.simple(src="images/interaction-technology-phone-user.png")

      section#computer(data-transition="none")
        img.simple(src="images/interaction-technology-computer.png")

      section#computer-smartphone-interaction(data-transition="none")
        img.simple(src="images/interaction-technology-computer-arrows.png")

      section#computer-output(data-transition="none")
        img.simple(src="images/interaction-technology-computer-output.png")

      section#computer-input(data-transition="none")
        img.simple(src="images/interaction-technology-computer-input.png")

      section#interaction-technology(data-transition="none")
        img.simple(src="images/interaction-technology.png")

    //-3,0
    section
      section#fouten
        h2 Tips: NIET doen
        p Veel voorkomende fouten:
        p
          ol 
            li
              div.fragment Interactie techniek met inhoud verwarren
              div.fragment: strong TECHNIEK IS WAARDELOOS
            li.fragment ...teveel energie steken in design &amp; performance
            li.fragment ...(het concept) te weinig getest!


      section#tips
        h2 Tips: WEL doen
        p Vraag je af: Wat voegt het toe aan...
        ul
          li ... de voorstelling?
          li.fragment ... de beleving van de toeschouwer?

    //-8
    section#feedback
      .row
        .col-xs-6
          h2 Vraag
          p Brainstorm een interactie
          ul
            li Welke technieken? 
            li
              | Wat voeg je toe aan...
              ul 
                li ...de voorstelling?
                li ...de beleving?
        .col-xs-6.fragment
          h2 &amp; Antwoord
          ul
            li de kosten tegenover baten
            li beperkingen vanuit techniek
            li haalbaarheid
            li alternatieve ideeën
 

    //-10
    section#overview
      img.simple(src="images/interaction-technology.png")
